@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
  background-image: url('public/wood.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  font-family: 'Abhaya Libre', serif;
}

h1 {
  color: $white;
  text-align: center;
}

h5 {
  color: $black;
}

footer {
  color: $white;
  font-family: 'Dancing Script', cursive, serif;
  font-size: 24px;
  text-align: center;
}

.messaging {
  align-self: center;
  color: $white;
  text-align: center;
}

.card {
  align-content: space-between;
  background: transparent;
  border: solid 3px $black;
  margin: 2px;
}

.card-body {
  color: $white;
  background-color: rgba(0, 0, 0, .1);
}

.create {
  justify-content: center;
  text-align: center;
}

.content {
  text-align: center;
}

.hiding {
  display: none;
}

.grid-container {
  display: inline-grid;
  grid-template: auto auto auto;
  }

.navbar {
  background-color: rgba(0, 0, 0, .7);
}

.modal-content {
  background-image: url('public/light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.signing-up,
.signing-in,
.password-change {
  justify-content: center;
  text-align: center;
}

.hidden {
  display: none;
}
