@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('./../public/new_wood.jpg');
  background-repeat: repeat-y;
  background-size: cover;
}

h1 {
  color: #fff;
  text-align: center;
}

h5 {
  color: #000;
}

.messaging {
  align-self: center;
  color: #fff;
  text-align: center;
}

.card {
  background: transparent;
}

.card-body {
  color: #fff;
}

.create {
  justify-content: center;
  text-align: center;
}

.content {
  text-align: center;
}

.hiding {
  display: none;
}

.navbar {
  background-color: rgba(0, 0, 0, .6);
}

.signing-up,
.signing-in,
.password-change {
  justify-content: center;
  text-align: center;
}

.hidden {
  display: none;
}
